<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <header>
    <div class="top-header"> 
        <picture>
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo de ML">
        </picture>
        <p>Mercado Liebre</p>
         <article>
            <h2>Barra de busqueda</h2>
         </article>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>

        <nav class="bottom-header">
            <ul>
                 <li><a href="/">Ofertas</a></li>
                 <li><a href="/">Tiendas Oficiales</a></li>
                 <li><a href="/">Vender</a></li>
                 <li><a href="/">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/">ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="/">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
                
                <nav class="burger-menu">
                    <a href=""></a><i class="fas fa-bars burger"></i>
                </nav>
                
            </ul>
        </nav>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <section class="last-visit">
            <h3>Basado en tu última visita</h3>
        <div class="products">
            <article>
            <picture class="contenedorImg">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera">
            </picture>
            <div class="main-article">
                <p class="price">$6770</p>
                <p class="discount">40% OFF</p>
                <h4 class="description">Cafetera Moulinex</h4>
              </div>
            </article>
            <article>
              <picture class="contenedorImg">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Macbook">
            </picture>
            <div class="main-article">
                <p class="price">$230.000</p>
                <p class="discount">20% OFF</p>
                <h4 class="description">MacBook Pro 2019</h4>
              </div>
            </article>
            <article>
              <picture class="contenedorImg">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy S10">
            </picture>
            <div class="main-article">
                <p class="price">$70.500</p>
                <p class="discount">10% OFF</p>
                <h4 class="description">Samsung Galaxy S10</h4>
              </div>
            </article>
            <article>
              <picture class="contenedorImg">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv Samsung 43 pulgadas">
            </picture>
            <div class="main-article">
                <p class="price">$23.200</p>
                <p class="discount">5% OFF</p>
                <h4 class="description">SmartTv Samsung 43"</h4>
              </div>
            </article>
        </div>
        </section>
        <section class="offers">

            <h3>Sección de Ofertas</h3>
            
           <article>
           <picture class="contenedorImg">
               <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera">
           </picture>
           <div class="main-article">
               <p class="price">$6770</p>
               <p class="discount">40% OFF</p>
               <h4 class="description">Cafetera Moulinex</h4>
             </div>
            </article>
            <article>
             <picture class="contenedorImg">
               <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Macbook">
           </picture>
           <div class="main-article">
               <p class="price">$230.000</p>
               <p class="discount">20% OFF</p>
               <h4 class="description">MacBook Pro 2019</h4>
             </div>
            </article>
            <article>
             <picture class="contenedorImg">
               <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy S10">
           </picture>
           <div class="main-article">
               <p class="price">$70.500</p>
               <p class="discount">10% OFF</p>
               <h4 class="description">Samsung Galaxy S10</h4>
             </div>
            </article>
            <article>
             <picture class="contenedorImg">
               <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv Samsung 43 pulgadas">
           </picture>
           <div class="main-article">
               <p class="price">$23.200</p>
               <p class="discount">5% OFF</p>
               <h4 class="description">SmartTv Samsung 43"</h4>
             </div>
            </article>
        </section>
        <footer class="footerC">
        <div>
            <p><i class="fas fa-credit-card"></i></p>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="textFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div>
            <p><i class="fas fa-gift"></i></p>
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="textFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div>
            <p><i class="fas fa-user-shield"></i></p>
            <h4>Seguridad, de principio a fin</h4>
            <p class="textFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </main>
</body>
</html>
